// ========== Цвета ============================
$transparent:    transparent !default;

$white:               #ffffff !default;
$green-light:         #bdf7da !default;
$green:               #94deb2 !default;
$blue-light:          #f3fcff !default;
$blue:                #e7f2f5 !default;
$blue-deep:           #65bcd8 !default;
$black:               #372e3f !default;
$black-deep:          #000000 !default;
$gray-dark:           #606060 !default;
$gray:                #d3d3d3 !default;
$gray-light:          #f1f1f1 !default;